name: Build Android APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # PASSO NOVO: Instala o Java (Obrigatório para Android)
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    # Versão mais recente do Flutter para evitar erros
    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.22.x'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flet
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    # Comando de construção detalhado
    - name: Flet Build APK
      run: |
        flet build apk --verbose

    # Caçador de APK (Acha o arquivo onde ele estiver)
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: TaskMaster_APK
        path: "**/*.apk"
